.catalog_view_more{
    justify-content: center;
}

.catalog_view_more_btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: none;
}

.catalog_view_more_btn:hover{
    transition: 0.1s ease-in-out;
    color: white;
    background-color: blue;
}