.apply_btn{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin: 10px 10px;
}

.apply_btn:hover{
    transition: 0.1s ease-in-out;
    color: white;
    background-color: blue;
}